*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: #201f30;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 160px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Login1 {
  padding: 10px;
  padding-right: 30px
}
.logo {
  text-decoration: none;
  color: #3a6cf4;
  font-size: 1.4em;
  font-weight: 700;
  padding-left: 10px;
  transition: 100ms;
  display: flex;
  cursor: default;
}
.navigation a {
  text-decoration: none;
  color: #8caaff;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  transition: 100ms;
  cursor: pointer;
  cursor: default;
}
.navigation a:hover {
  color: #163a9e;
  cursor: pointer;
  transform: scale(1.02);
  transition: 100ms;
  font-weight: 600;
}
body {
  background: url(Image.jpg) no-repeat;
  background-size: cover;
}
.Text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  align-items: center;
  padding: 250px 120px;
  font-size: 1.8em;
}
.Welcom {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.Manager {
  color: aquamarine;
}
.Grade {
  color: rgb(255, 217, 147);
  font-weight: 100;
  display: flex;
  justify-content: center;
}
section {
  padding: 100px 10px;
}
.section2 {
  background-color: white;
  margin-top: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}
.Services1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  color: rgb(158, 211, 255);
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}
.card {
  background: white;
  width: 21.25em;
  box-shadow: 0 1px 10px rgb(255, 255, 255);
  border-radius: 10px;
  padding: 25px 40px;
  margin: 30px 20px;
  transition: 0.7s ease;
  color: white;
  transition: 500ms;
  text-decoration: none;
}
.card:hover {
  transform: scale(1.05);
  margin: 20px 20px;
  transition: 500ms;
  margin: 30px 20px;
  text-decoration: none;
}
.card .icon {
  color: #001d6b;
  font-size: 8em;
  text-align: center;
  text-decoration: none;
}
#card1 {
  background: url(Image2.jpg) no-repeat;
  background-size: cover;
  text-decoration: none;
}
#card2 {
  background: url(image1.jpg) no-repeat;
  background-size: cover;
  text-decoration: none;
  color: white;
}
#card3 {
  background: url(Image3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}
.info {
  text-align: center;
  text-decoration: none;
}
.info h3{
  color: #3a6cf4;
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
  margin-bottom: 60px;
  margin-top: 10px;
  text-decoration: none;
}
.card-title {
  font-size: 30px;
  text-decoration: none;
}
p {
  font-size: 25px;
  padding: 10px 20px;
  text-decoration: none;
}
#edit {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#star {
  color: rgb(255, 255, 0);
  text-decoration: none;
}
#dollar {
  color: rgb(0, 190, 0);
  text-decoration: none;
}
.Home {
  color: white;
  position: relative;
  bottom: 2300px;
  text-decoration: none;
}
h3 p {
  text-decoration: none;
}
.Go-to {
  text-decoration: none;
}
@media (max-width:1003px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  header {
    padding: 20px 10px;
    font-size: 18px;
    background-color: #201f30;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .navigation a {
    padding-left: 20px;
    font-size: 15px;
  }
  .Welcom {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .title {
    font-size: 50px;
  }
  .Text {
    font-size: 30px;
    padding: 250px 20px;
  }
  .Grade {
    font-weight: 100;
  }
  .Login {
    margin-right: 50px;
  }
  .logo {
    font-size: 30px;
    margin-left: 20px;
  }
}
@media (max-width:803px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  header {
    padding: 15px 10px;
    font-size: 18px;
    background-color: #201f30;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .navigation a {
    padding-left: 10px;
    font-size: 15px;
  }
  .Welcom {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .title {
    font-size: 40px;
  }
  .Text {
    font-size: 20px;
    padding: 250px 10px;
  }
  .Grade {
    font-weight: 100;
  }
  .Login {
    margin-right: 20px;
  }
  .logo {
    font-size: 30px;
    margin-left: 20px;
  }
}
@media (max-width:639px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  header {
    padding: 15px 10px;
    font-size: 18px;
    background-color: #201f30;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .navigation a {
    padding-left: 10px;
    font-size: 10px;
  }
  .Welcom {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .title {
    font-size: 30px;
  }
  .Text {
    font-size: 10px;
    padding: 250px 10px;
  }
  .Grade {
    font-weight: 100;
    font-size: 15px;
  }
  .Login {
    margin-right: 40px;
  }
  .logo {
    font-size: 20px;
    margin-left: 30px;
  }
}
@media (max-width:639px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  header {
    padding: 15px 10px;
    font-size: 18px;
    background-color: #201f30;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .navigation a {
    padding-left: 8px;
    font-size: 10px;
  }
  .Welcom {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .title {
    font-size: 30px;
  }
  .Text {
    font-size: 8px;
    padding: 250px 10px;
  }
  .Grade {
    font-weight: 100;
    font-size: 13px;
  }
  .Login {
    margin-right: 10px;
  }
  .logo {
    font-size: 20px;
    margin-left: 10px;
  }
}
