*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  scroll-behavior: smooth;

}

header {

  background-color: #201f30;

  width: 100%;

  position: fixed;

  z-index: 999;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 160px ;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {

  background: url(Image.jpg) no-repeat;

  background-size: cover;

}

.logo {

  text-decoration: none;

  color: #3a6cf4;

  font-size: 1.4em;

  font-weight: 700;

  padding-left: 10px;

  transition: 100ms;

  display: flex;

  cursor: default;

}

.navigation a{

  text-decoration: none;

  color: #8caaff;

  font-size: 1.1em;

  font-weight: 500;

  padding-left: 30px;

  transition: 100ms;

}

.navigation a:hover{

  color: #163a9e;

  cursor: pointer;

  transform: scale(1.02);

  transition: 100ms;

  font-weight: 600;

}

.Login {

  display: flex;

  justify-content: center;

  align-items: center;

  background-size: cover;

  min-height: 100vh;

  flex-direction: column;

  color: white;

  background: transparent;

}

.Title {

  margin-bottom: 50px;

  font-size: 50px;

  font-family: Arial, Helvetica, sans-serif;

  margin-top: 40px;

}

.username {

  padding: 15px 60px;

  border-radius: 20px;

  padding-left: 30px;

  padding-right: 30px;

  width: 290px;

  margin-bottom: 30px;

  margin-left: 18px;

}

.password {

  padding: 15px 60px;

  border-radius: 20px;

  padding-left: 30px;

  padding-right: 30px;

  width: 290px;

  margin-bottom: 10px;

  margin-left: 18px;

}

.remember-forget {

  display: flex;

  justify-content: start;

  padding-top: 10px;

  padding-bottom: 20px;

  font-weight: 300;

  font-size: 20px;

}

.rememberme {

  cursor: pointer;

  transform: scale(1.1);

}

.Re {

  cursor: pointer;

  margin-left: 5px;

  font-size: 20px;

  color: rgb(168, 196, 255);

}

.btn {

  border: rgb(94, 94, 255);

  border-radius: 20px;

  padding: 7px 110px;

  border-radius: 20px;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 25px;

  background-color: rgb(94, 94, 255);

  margin-top: 40px;

  cursor: pointer;

  transition: 100ms;

  color: white;
}

.btn:hover {

  border: rgb(94, 94, 255);

  border-radius: 20px;

  padding: 7px 110px;

  border-radius: 20px;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 25px;

  background-color: rgb(69, 69, 255);

  margin-top: 40px;

  cursor: pointer;

  transform: scale(1.01);

  transition: 100ms;

  color: white;
}

::placeholder {

  display: flex;

  position: absolute;

  left: 30px;

}

.Signi {

  text-decoration: none;

  color: rgb(120, 17, 255);

}
@media (max-width:1023px){
  *{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;

  }

  header{
    padding: 12px 10px;
    font-size: 10px;
    background-color: #201f30;

    width: 100%;

    position: fixed;

    z-index: 999;

    display: flex;

    justify-content: space-between;

    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  .navigation a{
    padding-left: 10px;
  }
  section {
    font-size: 10px;
  }
  body {
    background: url(Image.jpg) no-repeat;
    background-size: cover;
  }
  .Sign {
    font-size: 13px;
  }
  .Register {
    margin-right: 10px
  }
  #lock {
    font-size: 20px
  }
  #user {
    font-size: 20px
  }
    }
